@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}
.body{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

header{
  z-index: 1;
  width: 100%;
  /* box-shadow: 0px 2px 6px 2px rgba(40, 51, 77, 1); */
  height: 75px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  justify-content: space-between;
  outline: none;
  border: none;
  margin-bottom: 5px;
}
.logo{
    width: 200px;
    height: 100px;
    margin-left: 20px;
    margin-top: 10px;
}
nav a{
    display: inline; 
    text-decoration: none;
    margin-right: 15px;
    padding: 0px 2px 0px 7px; 
    cursor: pointer;   
}
.registro{
    border-radius: 10px;
    width: auto;
    height: 40px;
    padding: 10px;
    background-color: rgba(8, 78, 230, 0.904);
    color: aliceblue;
    border: none;
}

.registro:hover{
    background-color: deepskyblue;
    padding: 10px 10px;
    margin: 20px
}
  /*style del header*/
    header{
      z-index: 1;
      width: 100%;
      /* box-shadow: 0px 2px 6px 2px rgba(40, 51, 77, 1); */
      height: 75px;
      justify-content: flex-end;
      align-items: center;
      display: flex;
      justify-content: space-between;
      outline: none;
      border: none;
      margin-bottom: 5px;
    }
    .logo{
        width: 200px;
        height: 100px;
        margin-left: 20px;
        margin-top: 10px;
    }
    nav a{
        display: inline; 
        text-decoration: none;
        margin-right: 15px;
        padding: 0px 2px 0px 7px; 
        cursor: pointer;   
    }
    .registro{
        border-radius: 10px;
        width: auto;
        height: 40px;
        padding: 10px;
        background-color: rgba(8, 78, 230, 0.904);
        color: aliceblue;
        border: none;
    }

    .registro:hover{
        background-color: deepskyblue;
        padding: 10px 10px;
        margin: 20px
    }
  /**/
  
  th{
    border-color: black;
    border: solid 1px black;
    border-radius: 5px;
    background-color: cornflowerblue;

  }
  table{
    background-color:aliceblue;
    border: solid 1px black;
    border-collapse: separate;
  }