@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
.body{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
  /*style del header*/
    header{
      z-index: 1;
      width: 100%;
      /* box-shadow: 0px 2px 6px 2px rgba(40, 51, 77, 1); */
      height: 75px;
      justify-content: flex-end;
      align-items: center;
      display: flex;
      justify-content: space-between;
      outline: none;
      border: none;
      margin-bottom: 5px;
    }
    .logo{
        width: 200px;
        height: 100px;
        margin-left: 20px;
        margin-top: 10px;
    }
    nav a{
        display: inline; 
        text-decoration: none;
        margin-right: 15px;
        padding: 0px 2px 0px 7px; 
        cursor: pointer;   
    }
    .registro{
        border-radius: 10px;
        width: auto;
        height: 40px;
        padding: 10px;
        background-color: rgba(8, 78, 230, 0.904);
        color: aliceblue;
        border: none;
    }

    .registro:hover{
        background-color: deepskyblue;
        padding: 10px 10px;
        margin: 20px
    }
  /**/
  h3{
  padding-top: 18px;
  }
  
  form{
    box-shadow: 0 0 10px 0 rgba(5, 95, 155, 0.8);
    padding: 20px 20px;
    border-radius: 15px;
    display: flex;
    text-align: center;
    /* justify-content: center; */
    flex-wrap: wrap;
    width: 600px;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;

  }

  .container-form{
    display: flex;
    justify-content: center;
    column-gap: 40px;
    flex-wrap: wrap;
  }

  .datos_pasajero{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
    flex-wrap: wrap;
  }

  .datos_boleto{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: auto;
  }

  form h1{
    font-size: 40px;
    color: #0d0d0d;
    margin: 5px 5px;
    display: block;
  }
  
  form p{
    margin: 5px;
    padding: 0%;
    font-size: 16px;
    color: #5e5e5e;
    display: block;
  }
  
  input {
    color: #0d0d0d;
    padding: 10px 10px 10px 40px;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 0 15px rgba(192, 203, 251, 0.7);
    outline: none;
    font-size: 16px;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    
  }

  .input-icon{
    height: 18px;
    width: 20px;
    right: 10px;
    top: 0;
    transform: translateX(55%);
    transform: translateY(5%);
    outline: none;
    position: absolute;
  }

  .btn{
    height: 0px;
    display: absolute;
    text-align: center;
    background: linear-gradient(
      90deg,
      rgb(0, 183, 255)25%,
      rgb(19, 23, 255)100%);
    box-shadow: 0 0 20px rgba(192, 203, 251, 0.7);
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    padding: 5px;
    width: 50%;
    margin: 20px 20px 10px 20px;
    height: 30px;
  }
  .btn:hover{
    background: rgb(41, 218, 55);
  }


  input::placeholder{
    font-size: 16px;
    color: #8d8db1;
  }

  .confirmar .btn{
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    
  }

  @media(max-width:991px){
    body{
      padding: 10px;
    }
    form{
      padding: 20px;
      width: 100%;
    }
    .input-wrapper{
      position: relative;
      width: 88%;
      margin-bottom: 35px;
    }
    input{
      padding: 20px 0px 20px 45px;
    }
    .input-icon{
      height: 20px;
      width: 20px;
    }
  }

  /*   */







  
  /*
  
  -> para las imagenes miniaturas
  .input-icon{
    position: absolute;
    height: 18px;
    width: 20px;
    left: 16px;
    top: 50%;
    transform: translateY(-55%);
  }
  
  
  /*boton con éxito*/
  /* .succes{
    position: absolute;
    top: 50px;
    color: #00c83c;
  }
  
  .error{
    position: absolute;
    top: 50px;
    color: #e02d00;
    font-size: 18px;
  }
  
  para modo responsive
  
  */